body {
  background: MidnightBlue;
}

#ground {
  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;

  background: black;
}

#tree {
  position: absolute;

  left: 0;
  bottom: 100px;

  height: 10;
  width: 10;
}